body {

  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  background-color: aliceblue;
  
}

#social-media {

  margin-right: 50px;
  margin-top: -20px;

}

#btn-instagram {


  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1 );

}

.avatar {

  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: -8   px;
}

.subtitle {

  margin-top: -20px;
}

/* Resets */
img {
max-width: 100%;
}
ul {
padding: 0;
list-style-type: none;
}

.nav {

  columns: 7;
  width: 100%;
  height: 100%;
  
}

.box {

  width: 100%;
  height: 60px;
  background-color: blue;
  
  margin-bottom: 10px;

  /* Text */
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;

  /* Center Text*/
  display: flex;
  justify-content: center;
  align-items: center;

}


.error {

  background-color: red;
  color: white;
  width: 500px;
  height: 200px; 
  padding: 25px;

}
