{% extends TEMPLATE|add:'/partials.html' %}
{% load static %}

{% block page %}

    <header class="container-fluid text-white container-md text-center mt-2 px-5" style="margin-bottom: -5px;">

        <img src="{% static TEMPLATE|add:'/images/avatar.png' %}" width="200" height="200" class="d-inline-block align-top my-2" alt="">
        <h1 class="main-heading-title">I am a <span class="main-element text-warning" data-elements="Software Engineer,Game Developer,Basketball Player,Gamer,Chess Lover"></span></h1>

        <p class="mt-3">
            Yazılım, uygulama ve oyun geliştirmeyi hem hobi hem meslek olarak benimsiyorum. Geleceğin önde gelen yazılımcılarından biri olmak için her gün kendimi geliştirmek için çabalıyorum C++ ve Python dillerine hakimim. Masaüstü platformunda uygulamalar ve oyunlar geliştirme alanlarında projelerim var. Python tkinter ve pygame kütüphanelerini ileri düzey kullanarak 2D oyunlar geliştiriyorum. ChooseYourWay, 2048 Game, Start gibi pygame bazlı oyunlarım var. Unity ile 2D/3D oyun geliştirme konusunda orta seviyedeyim. Ayrıca SQL ile veri tabanı işlemleri yapabilirim. HTML, PHP, SQL ve başlangıç seviye CSS ile basit web siteleri hazırlayabilirim.  İleri düzey İngilizce seviyem var.
        </p>

    </header>

{% endblock %}